@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.navbar {
    border-radius: 40px;
    border-style: solid;
    border-width: 2px;
    margin-right: 8%;
    margin-left: 8%;
    margin-top: 4%;
    border-color: #8fedea;
    padding: 15px !important;
    background-color: transparent;

}

.m-container {
    background-color: #1b2430;
    height: 100vh;
    padding: 10px;
}

#nav-1 {
    color: #adedeb;
}

#nav-2 {
    color: #adedeb;
}

#nav-3 {
    color: #adedeb;
}

#nav-4 {
    color: #adedeb;
}
.home-h1 {
    color: #bee4e8;
    text-align: center;
    font-weight: bold;
    font-family: Times New Roman;
    padding-top: 25px;
    font-size: 45px;

}

hr {
    border-style: solid;
    border-color: #99f2ef;
    border-width: 2px;
}

.home-txt {
    color: #9fb3b5;
    text-align: center;
    font-family: Times;
    font-size: 25px;
}

.home-txt-span {
    color: #e1eaeb;
    font-weight: bold;
}
.home-container {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-style: solid;
    border-color: #99f2ef;
    border-radius: 25px;
    width: 100%;
}

.section-container {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-style: solid;
    border-color: #99f2ef;
    border-radius: 25px;
    width: 100%;
    color: #bee4e8;
    text-align: center;
}

.section-container h2 {
    color: #bee4e8;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}

.section-container p {
    color: #9fb3b5;
    font-size: 18px;
}