@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.navbar {
    background: rgba(9, 16, 22, 0.9);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(0, 255, 255, 0.2);

}

.m-container {
    background-color: #1b2430;
   
    padding: 10px;
}

#nav-1 {
    color: #adedeb;
}

#nav-2 {
    color: #adedeb;
}

#nav-3 {
    color: #adedeb;
}

#nav-4 {
    color: #adedeb;
}
.home-h1 {
    
    text-align: center;
    font-weight: bold;
    font-family: Times New Roman;
    padding-top: 25px;
    font-size: 45px;
    color: rgb(214, 250, 250);
    text-shadow: 0 0 10px cyan;

}

hr {
    border-style: solid;
    border-color: #99f2ef;
    border-width: 2px;
}

.home-txt {
   color: #ffffff;
    text-align: center;
    font-family: Times;
    font-size: 15px;
    line-height: 1.5;
}


.section-container {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-style: solid;
    border-color: #99f2ef;
    border-radius: 25px;
    width: 100%;
    color: #bee4e8;
    text-align: center;
}

.section-container h2 {
    color: #bee4e8;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}

.section-container p {
    color: #9fb3b5;
    font-size: 18px;
}
.navbar-brand {
    letter-spacing: 2px;
    color: cyan !important;
}


.tagline-home {
    color: #80deea;
    text-align: center;
    padding-top: 3px;
    font-size: 20px;
}
.badge-home{
    display: inline-block;
    border: 1px solid cyan;
    padding: 0.4rem 1rem;
    border-radius: 20px;
    margin: 0.3rem;
    font-size: 0.75rem;
}
.custom-btn {
    border-radius: 30px;
    padding: 15px;
    transition: 0.3s;
}
.custom-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px cyan;
}
.home-container {
    background: rgba(20, 30, 40, 0.6);
    padding: 2.5rem;
    border-radius: 20px;
    border: 1px solid rgba(0, 255, 255, 0.3);
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.15);
    margin-top: 180px;
}
.about-h1{
    color: rgb(214, 250, 250);
    text-align: center;
    font-weight: bold;
    padding-top: 25px;
    font-size: 45px;
    text-shadow: 0 0 15px cyan;
}